<div id="secondary" class="xs-hide widget-area">

	<p>
		<a href="https://globalhealing.com/products/berberine?icn_ghc=berberine_campaign&amp;ici_ghc=WordPressAd&amp;_gl=1*1q53jit*_gcl_au*MjA3NzY0NDAxMy4xNzE0NTAwMzY2*_ga*NzY2MDQwNjQuMTcxNDUwMDM2MQ..*_ga_3MTGW9HKRC*MTcyMTY4MTczMy40Ni4wLjE3MjE2ODE3MzMuNjAuMC42NzQ4OTg2MzY.">
			<img decoding="async" src="https://cdn.globalhealing.com/m/2024/06/berberine/wordpress.jpg" alt="A bottle of Berberine" loading="lazy"></a>
	</p>
	<p><!-- social icons --></p>
	<div class="clearfix">
		<div class="social-sidebar bg-gray overflow-hidden py1 bold mb1 sm-col sm-col-12 line-height-1 text0">
          <span class="icon col sm-col-6 p1 center"><small><br>
            <a href="https://www.facebook.com/globalhealingofficial"><img decoding="async" class="mb1 block mx-auto" src="https://cdn.shopify.com/s/files/1/0555/3474/7822/files/facebook.png?v=1722896285" alt="Global Healing Center on Facebook"></a><br>
            <span class="facebook-count">199.4K</span><br>
            Likes</small><br>
          </span><br>
			<span class="icon col sm-col-6 p1 center"><small>
            <a href="https://www.tiktok.com/@globalhealing"><img decoding="async" class="mb1 block mx-auto" src="https://cdn.shopify.com/s/files/1/0555/3474/7822/files/tiktok.png?v=1722896275" alt="Global Healing Center on TikTok"></a><br>
            <span class="tiktok-count">62.8K</span><br>
              Likes</small><br>
          </span><br>
			<span class="icon col sm-col-6 p1 center"><small><br>
            <a href="https://www.instagram.com/globalhealingofficial/"><img decoding="async" class="mb1 block mx-auto" src="https://cdn.shopify.com/s/files/1/0555/3474/7822/files/instagram.png?v=1722896285" alt="Global Healing Center on Instagram"></a><br>
            <span class="instagram-count">48.7K</span><br>
              Followers</small><br>
          </span>
		</div>
	</div>
	<div class="bg-green-light px2 py2">

		<h5 class="mb1 color-green gh-font-primary bold">Want to Take Control of Your Health?</h5>
      
		<p class="mb1">
			Get helpful articles, health tips, &amp; natural health remedies straight to your inbox.
		</p>

		<div class="ghc-form" id="sidebar_signup" data-form-url="https://hooks.zapier.com/hooks/catch/1153851/o2ylden/">

			<!-- rss -->
			<input type="hidden" value="1" name="group[17433][1]" id="mce-group[17433]-17433-0">
			<input type="hidden" value="4" name="group[17437][4]" id="mce-group[17437]-17437-0">
			<input type="hidden" value="Subscriber" name="CGROUP" id="mce-CGROUP">

			<!-- newsletter -->
			<input type="hidden" name="crvs" value="qHKSyhTF6AX-XFl3ZCi-0Fd0W-aqpZj8JysOlXCLsfbRLu9MDtsp2O0HiHMfO6U66WfbTnlNVqBvfla2F_1zTBJXkruDwT4nZ9XTdAq5dFTQzrt_ms3wxTjdJDqwg-mNA9U5RmjUkPma9P1blRy026kQ0xeNTjjSv3Ib5nZoDQAhBW3bJJ0lnfn7BBgoRYVNg2dUM2aeY_nxl1IdlyC6gw">
			<input type="hidden" name="CheckBox.Language.English" value="on">
			<input type="hidden" name="CheckBox.Email Preferences.Promo" value="on">
			<input type="hidden" name="CheckBox.Email Preferences.Newsletter" value="on">
			<input type="hidden" name="Source.Source" value="Blog_Sidebar">
			<input type="hidden" name="Source.Type" value="Informational">


			<input id="gdpr-date" type="hidden" name="GDPRDATE" value="06222024">
			<script>
				var today = new Date();
				var eu_date =
				  (today.getMonth() < 10 ? '0' + today.getMonth() : today.getMonth()) +
				  (today.getDate() < 10 ? '0' + today.getDate() : today.getDate()) +
				  today.getFullYear();
				document.getElementById('gdpr-date').setAttribute('value', eu_date);
			</script>

			<div class="ghc-form__signup">
				<div class="eu-only mt1 mb1">
                  <small>
					<label class="regular">
						<input id="sidebar_signup_eu" data-form="#sidebar_signup" class="eu-agree-checkbox" name="CheckBox.GDPRExistingSubscriberConsent.GDPRCheck" type="checkbox" value="1">
						I agree to receive marketing emails.
						<a href="https://globalhealing.com/help/privacy">View Privacy Policy</a>.
					</label>
                  </small>
				</div>

				<div class="mb1 ghc-form__input">
					<input id="email" name="email" type="email" maxlength="100" placeholder="Enter Your Email Address" required="">
					<div class="ghc-form__input__error red center">Please enter a valid email address</div>
				</div>

				<input class="button ghc-form__submit" type="submit" id="submit-sidebar" value="Sign Me Up">
			</div>

			<div class="ghc-form__success bold center">Success! You'll be receiving an email shortly.</div>
		</div>
		<script>
			gh.form.create(document.getElementById('sidebar_signup'));
		</script>
		<style>
			.ghc-form__loader, .ghc-form__loader--inline, .ghc-form__success, .ghc-form__error, .ghc-form__input__error {
				display: none
			}

			.ghc-form.loading .ghc-form__loader {
				display: block
			}

			.ghc-form.loading .ghc-form__loader--inline {
				display: inline-block
			}

			.ghc-form.success .ghc-form__signup {
				display: none
			}

			.ghc-form.success .ghc-form__success {
				display: block
			}

			.ghc-form__input.error .ghc-form__input__error {
				display: block
			}
		</style>
	</div>


</div>