<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.64.2/dist/instantsearch.production.min.js" integrity="sha256-/DLulTBQ8KQ7xGOs8mrQ6FgKsknJpjCGAjFhjfjc8yo=" crossorigin="anonymous"></script>

<script>
gh_algolia.instant.init = ( instant, algolia ) => {

    let widget = {
        init(){
            let hits = algolia.externals.widgets.hits({
                container: '#gh-ais-hits-article',
                templates: {
                    item(hit, { html, components, sendEvent }) {
                        return html`
                            <div class="ais-hit-gh">
                              <div style="background-image:url(${hit.image})"></div>
                              <div class="left-align">
                                <span class="gh-font-primary bold mb0 color-green-dark block mb1" style="line-height: 1.5">${hit.title}</span>
                                <span class="block gh-ais-article-content">${components.Snippet({ hit, attribute: 'content' })}</span>
                              </div>
                              <div class="arrow">
                                <img width="30" src="https://cdn.globalhealing.com/web/v2/icon/arrow-right.svg" />
                              </div>
                            </div>
                          `;
                    },
                    empty(results, { html }) {
                        return html`<br/><br/><div class="center">No articles found. Try clearing the filters or changing your query.</div><br/><br/>`;
                    },
                },
            });

            let configure = algolia.externals.widgets.configure({
                attributesToSnippet: ['content'],
            });

            let index = instantsearch.widgets.index({indexName: 'wordpress_blog'});
            index.addWidgets([hits, configure])

            instant.search.addWidgets([index]);
        }
    }

    instant.search.addWidgets([widget]);
    return instant;

}
</script>