<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.64.2/dist/instantsearch.production.min.js" integrity="sha256-/DLulTBQ8KQ7xGOs8mrQ6FgKsknJpjCGAjFhjfjc8yo=" crossorigin="anonymous"></script>

<script>
gh_algolia.instant.init = ( instant, algolia ) => {

  instant.hitsPerPage = 21;

    const article_initial_results = 6;
    const article_results = 50;

    const page_initial_results = 3;
    const page_results = 9;
  
    let articles_widget = {
        init(){
            let hits = algolia.externals.widgets.hits({
                container: '#gh-ais-hits-article',
                templates: {
                    item(hit, { html, components, sendEvent }) {
                        return html`
                            <a class="ais-hit-gh" href="${hit.url}">
                              <div style="background-image:url(${hit.image})"></div>
                              <div class="article-hit-content left-align">
                                <span class="gh-font-primary bold mb0 color-green block mb1" style="line-height: 1.5">${hit.title}</span>
                                <span class="block gh-ais-article-content">${components.Snippet({ hit, attribute: 'content' })}</span>
                              </div>
                            </div>
                          `;
                    },
                    banner({ banner }, { html }) {
                      return html`<span class="hide"></span>`;
                    },
                    empty(results, { html }) {
                        return html`<br/><br/><div class="center">No articles found. Try clearing the filters or changing your query.</div><br/><br/>`;
                    },
                },
            });

            let stats = algolia.externals.widgets.stats({
              container: '#article-stats',
              templates: {
                text(data, { html }) {
                  let hits_count = data.nbHits;
                  if( hits_count <= article_initial_results ) document.getElementById('view-more-articles-container').classList.add('hide');
                  else document.getElementById('view-more-articles-container').classList.remove('hide');
                  
                  return html`<span>${hits_count}</span>`;
                },
              }
            });

            let configure = algolia.externals.widgets.configure({
                attributesToSnippet: ['content'],
                hitsPerPage: article_results
            });

            let index = instantsearch.widgets.index({indexName: 'wordpress_blog'});
            index.addWidgets([hits, configure, stats])

            instant.search.addWidgets([index]);
        }
    }

  let pages_widget = {
    init(){
      let hits = algolia.externals.widgets.hits({
        container: '#gh-ais-hits-page',
        templates: {
          item(hit, { html, components, sendEvent }) {
            return html`
                <a class="ais-hit-gh" href="https://globalhealing.com/pages/${hit.handle}">
                  <div class="ais-hit-gh--image"></div>
                  <span class="article-hit-content left-align">
                    <span class="gh-font-primary bold mb0 color-green block mb1" style="line-height: 1.5">${hit.title}</span>
                    <!--<span class="block gh-ais-page-content">${components.Snippet({ hit, attribute: 'body_html_safe' })}</span>-->
                  </span>
                </div>
              `;
          },
          empty(results, { html }) {
            return html`<span></span>`;
          },
        },
      });

      let configure = algolia.externals.widgets.configure({
        attributesToSnippet: ['body_html_safe'],
        hitsPerPage: page_results
      });

      let stats = algolia.externals.widgets.stats({
        container: '#page-stats',
        templates: {
          text(data, { html }) {
            let hits_count = data.nbHits;
            if( hits_count <= page_initial_results ) document.getElementById('view-more-pages-container').classList.add('hide');
            else document.getElementById('view-more-pages-container').classList.remove('hide');
            
            return html`<span>${hits_count}</span>`;
          },
        }
      });

      let index = instantsearch.widgets.index({indexName: 'shopify_pages'});
      index.addWidgets([hits, configure, stats])

      instant.search.addWidgets([index]);
    }
  }

    instant.search.addWidgets([articles_widget,pages_widget]);
    return instant;

}
</script>