<script>
gh_algolia.instant.init = ( options, algolia ) => {

  let instantsearch = algolia.externals.instantsearch;
  let instant = options;
  
  const { hits } = instantsearch.widgets;

  instant.search.addWidgets([
      index({indexName: 'wordpress_blog'})
        .addWidgets([
            hits({
                container: '#article-hits',
                templates: {
                    item(hit, { html, components, sendEvent }) {
                        return html`
                          <div class="center">
                            <span class="article-image" style="background-image:url(${hit.image})"> </span><!--<img src="${hit.image}" height="200" />-->
                            <span class="gh-font-primary bold mb0 color-green block mb1" style="line-height: 1.4">${hit.title}</span>
                            <span class="block">${components.Snippet({ hit, attribute: 'content' })}</span>
                          </div>
                        `;
                    }
                },
            }),
            configure({
                attributesToSnippet: ['content'],
            })
        ])
  ]);

  return options;

}
</script>