<script>
  gh_algolia.instant.templates = {
    product(defaultTemplate, data, html, components){
      console.log('args',html(`<p>Hello</p>`));
      console.log('product',data);
      return defaultTemplate;
    }
  }
</script>