<script>
  gh_algolia.autocomplete.plugins = {

    getAll( algolia ){

      const getAlgoliaResults = algolia.externals.getAlgoliaResults;

      let ghArticlesPlugin = {
        getSources({ query }) {
          return [
            {
              sourceId: 'gh_articles',
              getItems() {
                return getAlgoliaResults({
                  searchClient: algolia.searchClient,
                  queries: [
                    {
                      indexName: 'wordpress_blog',
                      query,
                      params: {
                        hitsPerPage: 3,
                        attributesToSnippet: ['content']
                      },
                    },
                  ],
                });
              },
              templates: {

                item(params, itemLink) {
                  const {item, html, components} = params;

                  return html`
                  <a href="${item.url}"
                    class="aa-ItemLink aa-BlogItem">
                          <span class="aa-ItemImage"><img src="${item.image}" alt="" height="100" /></span>
                          <span class="aa-ItemContentContainer">
                              <span class="as-ItemTitle gh-font-secondary bold color-green-dark">${item.title}</span>
                          </span>
                      </a>
                  `;
                },
                header(params) {
                  const {html} = params
                  return html`
                  <div class="aa-SourceHeader"><span class="aa-SourceHeaderTitle">Articles & Other Reads</span><div class="aa-SourceHeaderLine"></div></div>`
                },
                empty(results, { html }) {
                    return html`<br/><br/><div class="center">No articles found. Try clearing the filters or changing your query.</div><br/><br/>`;
                },
              },
              getItemUrl({item}) {
                return item.url;
              },
            }
          ];
        },
      }

      let ghPopularPlugin = {
        getSources({ query }) {
          return [
            {
              sourceId: 'gh_popular',
              getItems() {
                return [
                  { label: 'oxy-powder', url: 'https://globalhealing.com/search?q=oxy-powder' },
                  { label: 'magnesium', url: 'https://globalhealing.com/search?q=edta' },
                  { label: 'zinc', url: 'https://globalhealing.com/search?q=berberine' },
                  { label: 'b12', url: 'https://globalhealing.com/search?q=glutathione' },
                ]/*.filter(({ label }) =>
                  label.toLowerCase().includes(query.toLowerCase())
                )*/;
              },
              templates: {

                item(params) {
                  const {item, html, components} = params;

                  return html`<a
                    href="${window.Shopify.routes.root}search?q=${encodeURIComponent(item.label)}"
                    class="aa-ItemLink aa-ProductItem"
                  >
                    <div class="aa-ItemWrapper">
                      <div class="aa-ItemContent">
                        <div class="aa-ItemIcon aa-ItemIcon--noBorder">
                          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                          </svg>
                        </div>
                        <div class="aa-ItemContentBody">
                          <div class="aa-ItemContentTitle">
                            ${ item.label }
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>`
                },
                header(params) {
                  const {html} = params
                  return html`
                  <div class="aa-SourceHeader"><span class="aa-SourceHeaderTitle">Popular Searches</span><div class="aa-SourceHeaderLine"></div></div>`
                }
              },
              getItemUrl({item}) {
                return item.url;
              },
            }
          ];
        },
      }

      return [ /*ghArticlesPlugin,*/ ghPopularPlugin ]
    }
  }
</script>