{% comment %}
    Requires 2 props:
    average: float 4.3
    count: int 103
{% endcomment %}

{% assign width = 20 | times: average %}

<span class="gh-product-reviews">
    <div class="gh-review-stars">
        <span class="gh-review-stars--full" style="width: {{ width }}%">
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold.png" alt="" width="16" />
        </span>
        <span class="gh-review-stars--empty">
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold-empty.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold-empty.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold-empty.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold-empty.png" alt="" width="16" />
            <img src="https://cdn.globalhealing.com/web/v2/icon/iconmonstr-star-gold-empty.png" alt="" width="16" />
        </span>
    </div>
    <div class="gh-product-reviews--count gh-font-secondary">{{ count }} Reviews</div>
</span>

<style>
  .gh-product-reviews{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 3px;
  }
  .gh-product-reviews--count{
    font-size: 15px;
    padding-top: 2px;
  }
</style>