<html>
<head>
	{{content_for_header}}

  {% render 'shogun-head' %}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/biz9zGm3crKRr_rj-OtV8w" async></script>
</head>
<body>
	{{ content_for_layout }}
</body>
</html>