.product__title {
  margin-bottom: 0 !important;
}
.product__title h1 {
  font-size: 6rem;
}

.ghd--product-container{
    --mobile-gutters: 2rem;
}

.ghd--block--intro{
    background: #fff;
    box-shadow: 0px 0px 19px #00000050;
}
.ghd--block--intro [data-type="cols"]{
    display: flex;
    align-items: center;
}
.ghd--block--intro [data-type="text"]{
    padding: 3rem;
    width: 60%;
}
.ghd--block--intro [data-type="text"] .mw{
    max-width: 600px;
    margin: 0 auto;
}
.ghd--block--intro [data-type="image"]{
    width: 40%;
}
.ghd--block--intro [data-type="image"] img{
    display: block;
}


.ghd--block--benefits{
    padding: 10rem 0;
}
.ghd--block--benefits [data-type="cols"]{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ghd--block--benefits [data-type="image"]{
    text-align: center;
    width: 40%;
    max-width: 600px;
}
.ghd--block--benefits [data-type="image"] img{
    box-shadow: 0px 0px 19px #00000050;
}
.ghd--block--benefits [data-type="text"]{
    width: 60%;
    max-width: 750px;
    padding: 1rem 2rem;
}

.ghd--block--benefits video{
    padding-left: 4.5rem ;
    padding-right: 4.5rem ;
}

.ghd--block--how-it-works{
    padding-top: 0;
}

.ghd--block--how-it-works[data-video] [data-type="cols"]{
/*   align-items: flex-start; */
}


.ghd--block--ingredients{
    background: #fff;
    box-shadow: 0px 0px 19px #00000050;
    padding: 8rem 0 12rem 0;
}
.ghd--block--ingredients [data-type="header"]{
    text-align: center;
    padding-bottom: 2rem;
}
.ghd--block--ingredients [data-type="cols"]{
    display: flex;
    align-items: center;
    justify-content: center;

}
.ghd--block--ingredients [data-type="image"]{
    text-align: center;
    width: 40%;
    max-width: 600px;
}

.ghd--block--ingredients [data-type="image"] img{
    transition: opacity .2s ease-in-out, background .2s ease-in-out;
}
.ghd--block--ingredients[data-tag="small-image"] img{
    max-width: 60%;
}
.ghd--block--ingredients [data-type="image"] img.loading{
    opacity: .2;
    background: #eee;
}

.ghd--block--ingredients [data-type="text"]{
    width: 60%;
    max-width: 750px;
    padding: 1rem 2rem;
}
.ghd--block--ingredients [data-type="text"] details{
    border-top: 1px solid var(--gh-color-gray);
    padding: 1rem 1rem;
}
.ghd--block--ingredients [data-type="text"] details:last-child{
    border-bottom: 1px solid var(--gh-color-gray);
}
.ghd--block--ingredients [data-type="text"] details summary{
    font-family: var(--gh-font-secondary);
    font-size: 2rem;
}
.ghd--block--ingredients [data-type="text"] details[open] summary{
    color: var(--gh-color-green);
    font-weight: 700;
}
.ghd--block--ingredients [data-type=text] .ghd--block--ingredients--full-list summary{
    font-size: 14px;
    font-weight: bold;
}
.ghd--block--ingredients .ghd--dialog--button{
    font-family: var(--gh-font-secondary);
    color: var(--gh-color-gray);
    cursor: pointer;
    display: block;
    padding: 11px 0;
    border: 0;
    background: transparent;
    font-weight: 700;
    font-size: 1.5rem;
}

.ghd--block--ingredients [data-type="ghd--prop65-warning"]{
    padding-left: 3rem;
    padding-top: 4rem;
}
.ghd--block--ingredients [data-type="ghd--prop65-warning"] .ghd--dialog--button{
    font-weight: normal;
}

.ghd--block--impact{
    background: #E3D2BE;
}

.ghd--block--impact [data-type="cols"]{
    display: flex;
    align-items: center;
}
.ghd--block--impact [data-type="image"]{
    text-align: center;
    width: 40%;
}
.ghd--block--impact [data-type="image"] img{
    display: block;
}
.ghd--block--impact [data-type="text"]{
    width: 60%;
    padding: 3rem;
}
.ghd--block--impact [data-type="text"] .mw{
    max-width: 600px;
    margin: 0 auto;
}

.ghd--block--impact .mw > div > p:first-child:before,
.ghd--block--impact .mw > div > p:last-child:after{
  content: '"';
}

.ghd--block--curated{
  padding: 8rem 1rem;
}
.ghd--block--curated [data-type="header"]{
  text-align: center;
  padding-bottom: 2rem;
}
.ghd--block--curated [data-type="items"]{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.ghd--block--curated [data-type="items"] > div{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex: 1;
}
.ghd--block--curated [data-type="items"] .image{
  display: block;
  text-align: center;
}
.ghd--block--curated [data-type="items"] .title{
  font-family: var(--gh-font-primary);
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 2rem;
}
.ghd--block--curated [data-type="items"] .tagline{
  font-family: var(--gh-font-secondary);
  margin: 0;
  line-height: 1.4;
}
.ghd--block--curated [data-type="items"] .description{
  flex: 1;
}
.ghd--block--curated [data-type="items"] .price{
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: 1em;
  border: 1px solid var(--gh-color-gray);
  border-width: 1px 0;
  padding: 0.25em 0;
}

@media ( min-width: 750px ) and (max-width: 1200px){
  .ghd--block--curated [data-type="items"][data-item-count="4"]>div{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/*
    Miron Glass
 */
.ghd--block--miron{
    background: #fff;
    padding: 8rem 1rem 12rem 1rem;
}
.ghd--block--miron .mw{
    max-width: 650px;
}
.ghd--block--miron h2{
    font-size: 7rem;
    color: #000;
    margin-bottom: 0;
    margin-top: 0;
}
.ghd--block--miron [data-type="cols"]{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ghd--block--miron [data-type="image"]{
    text-align: right;
    width: 40%;
    max-width: 600px;
}
.ghd--block--miron [data-type="text"]{
    width: 60%;
    max-width: 750px;
    padding: 1rem 2rem;
}

/*
    FAQ
 */
.ghd--block--faq{
    padding: 7rem 1rem;
}
.ghd--block--faq h2{
    text-align: center;
    padding-bottom: 2rem;
}
.ghd--block--faq .mw{
    max-width: 1000px;
    margin: 0 auto;
}
.ghd--block--faq label{
    font-weight: bold;
    border-bottom: 1px solid var(--gh-color-gray);
    display: block;
    padding: 1rem 1rem;
}
.ghd--block--faq label:after{
    content: "+";
    float: right;
}
.ghd--block--faq .ghd--details > details:nth-child(n+6){
    display: none;
}
.ghd--block--faq [name='view-more']:checked + .ghd--details label{
    display: none;
}
.ghd--block--faq [name='view-more']:checked + .ghd--details > details:nth-child(n+6){
    display: block;
}

 h2.eyebrow{
    font-size: 5rem;
    color: var(--gh-color-green);
    margin-bottom: .5rem;
    margin-top: 0;
}
h2.eyebrow span{
    color: var(--gh-color-gray);
    text-transform: uppercase;
    display: block;
    font-size: 0.5em;
    font-family: var(--gh-font-secondary);
    font-weight: 500;
}
h2.eyebrow + h4{
    margin-top: 0;
}


/*
    Details
 */
.ghd--details > span{
    display: block;
    padding: 5px 0;
}
.ghd--details details,
.ghd--details > span{
    border-bottom: 1px solid var(--gh-color-gray);
    padding: 1rem 1rem;
}
.ghd--details details:first-child,
.ghd--details > span:first-child{
    border-top: 1px solid var(--gh-color-gray);
}
.ghd--details details summary,
.ghd--details > span{
    font-family: var(--gh-font-secondary);
    font-size: 2rem;
    padding-right: 1em;
    position: relative;
}

.ghd--details details summary:after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.5em;
    line-height: 1;
    transition: transform .25s ease-in-out;
}

.ghd--details details[open] summary,
.ghd--details > span{
    color: var(--gh-color-green);
    font-weight: 700;
}
.ghd--details details[open] summary:after{
    transform: rotate(45deg);
}

/*
    Accordion
*/

.ghd--accordion > div{
    margin: 0;
    padding: 0;
}
.ghd--accordion {
    overflow: hidden;
}
.ghd--accordion > div {
    display: block;
    position: relative;
    padding: 5px 10px;
    color: black;
    border-bottom: 1px solid var(--gh-color-gray);;
}
.ghd--accordion > div:first-child {
    border-top: 1px solid var(--gh-color-gray);
}
.ghd--accordion > div input + label {
    font-family: var(--gh-font-secondary);
    font-size: 2rem;
    cursor: pointer;
    display: block;
    padding: 5px 0;
    transition: all 0.25s ease-in-out 0.5s, color 0.25s ease-in-out 0.5s;
    color: black;
}
.ghd--accordion>div input+label:before{
    content: "+";
    float: right;
    transition: opacity .25s ease-in-out;
}
.ghd--accordion > div input ~ div {
    overflow: hidden;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out 0.2s, opacity 0.25s ease-in-out 0.25s, padding 0s ease-in-out 0s;
}
.ghd--accordion > div input ~ div p:first-child{
    margin-top: 0;
}
.ghd--accordion > div input:checked + label {
    color: var(--gh-color-green);
    font-weight: 700;
    transition: background-color 0s ease-in-out 0s;
}
.ghd--accordion > div input:checked + label:before {
    opacity: 0;
}
.ghd--accordion > div input:checked ~ div {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: 900px;
    transition: all 0.5s ease-in-out 0.2s, opacity 0.25s ease-in-out 0.5s, padding 0s ease-in-out 0s;
}
/*
    END Accordion
*/
@media (min-width: 750px){
    .ghd--hide-desktop{
        display: none;
    }
}

@media (min-width: 750px) and (max-width: 1070px){

  #MainContent > section:first-child > section.page-width:first-child{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  h2.eyebrow{
    font-size: 4rem;
  }

  .product__title h1 {
    font-size: 5rem;
  }

  .ghd--block--curated [data-type=items]{
    flex-wrap:wrap;
  }

  .ghd--block--curated [data-type=items][data-item-count="4"]>div{
    width: 50%;
    flex: inherit;
  }

  .product__info-wrapper{
    padding-left: 1rem;
  }
  
}

@media (max-width: 749px){
    .ghd--hide-mobile{
        display: none;
    }

    h2.eyebrow {
        font-size: 3rem;

    }
    h2.eyebrow+h4{
        font-size: 1.8rem;
    }
    .ghd--block [data-type="header"]{
        text-align: left;
    }
    .ghd--block [data-type="cols"]{
        flex-wrap: wrap;
    }
    .ghd--block [data-type="text"],
    .ghd--block [data-type="image"]{
        width: 100%;
    }
    .ghd--block [data-type="text"]{
        padding-top: 2rem;
        order: 2;
    }

    /* for the mobile gutters */
    .ghd--block [data-type="text"],
    .ghd--block [data-type="header"]{
        padding-left: var(--mobile-gutters);
        padding-right: var(--mobile-gutters);
    }

    .ghd--block--miron h2{
        font-size: 5rem;
    }

    .ghd--block--curated{
        padding: 4rem 0;
    }
    .ghd--block--curated .items-container{
        overflow-y: scroll;
    }
    .ghd--block--curated [data-type="items"]{
        justify-content: start;
    }
    .ghd--block--curated [data-type="items"][data-item-count="1"]{
        justify-content: center;
    }
    .ghd--block--curated [data-type="items"]{
      --item-count: 1;
      --item-gap: 60px;
      width: calc(calc(100vw * var(--item-count)) - calc(var(--item-gap) * var(--item-count)));
    }
    .ghd--block--curated [data-type="items"] > div{
        max-width: calc(calc(100vw * var(--item-count)) - calc(var(--item-gap) * var(--item-count)));
        padding: 1rem 1.5rem;
    }
  
    .ghd--block--curated [data-type="items"][data-item-count="2"]{
        --item-count: 2;
    }
    .ghd--block--curated [data-type="items"][data-item-count="3"]{
        --item-count: 3;
    }
    .ghd--block--curated [data-type="items"][data-item-count="4"]{
        --item-count: 4;
    }
}