body{
  --gh-color-gray: #545454;
  --gh-color-gold: #CCA72D;
  --gh-color-green: #21472D;
  --gh-color-light-green: #d7dad3;
  --gh-color-dark-green: #00260f;
  --gh-color-brown: #2D1F15;
  --gh-color-cream: #F9F2E8;
  --gh-color-dark-cream: #E3D2BE;
  --gh-font-primary: "Miller Display", serif;
  --gh-font-secondary: "Proxima Nova", sans-serif;
}

.page-shogun-default{
    --gradient-background: #fff;
}

@font-face {
    font-family: "Miller Display";
    font-weight: 500;
    src:
      url("https://cdn.globalhealing.com/web/font/miller-display/500.woff2") format("woff2"),
      url("https://cdn.globalhealing.com/web/font/miller-display/500.woff") format("woff"),
      url("https://cdn.globalhealing.com/web/font/miller-display/500.eot") format("embedded-opentype");
}
@font-face {
    font-family: "Miller Display";
    font-weight: 700;
    src:
      url("https://cdn.globalhealing.com/web/font/miller-display/700.woff2") format("woff2"),
      url("https://cdn.globalhealing.com/web/font/miller-display/700.woff") format("woff"),
      url("https://cdn.globalhealing.com/web/font/miller-display/700.eot") format("embedded-opentype");
}
@font-face {
    font-family: "Proxima Nova";
    font-weight: 500;
    src:
      url("https://cdn.globalhealing.com/web/font/proxima-nova/500.woff2") format("woff2"),
      url("https://cdn.globalhealing.com/web/font/proxima-nova/500.woff") format("woff"),
      url("https://cdn.globalhealing.com/web/font/proxima-nova/500.eot") format("embedded-opentype");
}
@font-face {
    font-family: "Proxima Nova";
    font-weight: 700;
    src:
      url("https://cdn.globalhealing.com/web/font/proxima-nova/700.woff2") format("woff2"),
      url("https://cdn.globalhealing.com/web/font/proxima-nova/700.woff") format("woff"),
      url("https://cdn.globalhealing.com/web/font/proxima-nova/700.eot") format("embedded-opentype");
}

a{
    color: var(--gh-color-green);
}

a:hover{
    text-decoration: none;
}

a.subtle{
  text-decoration: none;
  color: inherit;
}

a.subtle:hover{
  text-decoration: underline;
}

video{
  max-width: 100%;
}

body{
  color: var(--gh-color-gray);
}

h1, h2, h3, .h0, .h1, .h2, .h3, .gh-font-primary{
  font-family: var(--gh-font-primary);
}

h1, h2, h3{
  margin-top: 0;
}

h4, h5, .h4, .h5, .gh-font-secondary{
  font-family: var(--gh-font-secondary);
}

h1, h2, h3, .h1, .h2, .h3{
  font-weight: 700;
}

h4, .h4 {
    font-size: calc(var(--font-heading-scale) * 2rem);
}

h5, .h5 {
    font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.button--link, .button--text-link{
    background: none;
    border: 0;
    text-decoration: underline;
    color: var(--gh-color-green);
    line-height: 1.4;
    padding: 5px 9px;
    font-size: 16px;
    cursor: pointer;
}
.button--text-link{
  padding: 0;
}
.text-bold{
  font-weight: bold;
}

.button--gold{
    background-color: var(--gh-color-gold);
}
.button--gold::after{
    box-shadow: none;
}
.button--gold-outline{
    background-color: transparent;
}
.button--gold-outline::after{
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text),var(--border-opacity)),0 0 0 var(--buttons-border-width) var(--gh-color-gold);
}

.button--light-green{
    background-color: var(--gh-color-light-green);
}
.button--light-green::after{
    box-shadow: none;
}
.button--light-green-outline{
    background-color: transparent;
}
.button--light-green-outline::after{
    box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text),var(--border-opacity)),0 0 0 var(--buttons-border-width) var(--gh-color-light-green);
}

iframe, img {
    max-width: 100%;
}

img {
    border: 0 none;
}

.align--center,
.text-center{
  text-align: center;
}

.text--right{
    text-align: right;
}

.hide{
  display: none !important;
}

.ghd--flex{
    display: flex;
}

.ghd--bg-white{
    background: #fff;
}

.color-white{
    color: #fff;
}

.remove-swell-tab .swell-tab{
  display: none !important;
}

.swell-tab{
  background: #008249 !important;
  border-radius: 10px 10px 0 0 !important;
  font-weight: bold !important;
  width: 154px !important;
  padding-top: 8px !important;
  inset: auto 10px 0px auto !important;
}

.yotpo-widget-campaign-widget .yotpo-logged-out-tile.yotpo-is-mobile{
  position: relative !important;
}
.yotpo-widget-campaign-widget .yotpo-logged-out-tile.yotpo-is-mobile .yotpo-action-button-widget{
  margin-top: 20px;
}
[aria-label="PointsForPurchasesCampaign"] .yotpo-overlay-tile {
  display: none !important;
}

.yotpo-widget-my-rewards-widget .yotpo-is-mobile .yotpo-loyalty-popup-overlay{
  padding-top: 56px;
}

.yotpo-is-mobile .yotpo-widget-campaign-widget-close-icon{
  top: 89px
}

.yotpo-widget-products-redemption .yotpo-close-button-mobile-modal{
  top: 89px !important;
  background: #008249;
  padding: 10px 13px;
}

.evm-featured-collections-product .evm-wscontainer .evm-wiser-owl-carousel{
  z-index: 0;
}

.yotpo-redemption-option-footer-mobile-modal{
  position: relative !important;
  border-top: 0 !important;
}

.yotpo .yotpo-bottomline .yotpo-icon-star,
.yotpo .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-bottomline .yotpo-icon-empty-star{
  color: var(--gh-color-gold) !important;
}

.yotpo-display-wrapper .yotpo-bottomline a{
    color: var(--gh-color-gray) !important;
    font-size: 14px;
    line-height: 1;
}
.yotpo .standalone-bottomline .star-clickable{
    align-items: center;
}

/* dawn specific "fixes" */
.product__info-container > .gh--modal{
  margin: 0;
}

.gh-modal-open .shopify-section-group-header-group {
    z-index: 0;
}

.gh-block--tips--recommended-use h5{
  margin-top: 0;
}

.ghpdp--supplement-facts-table{
  width: 100%;
}
.ghpdp--supplement-facts--caps{
  margin-top: 0;
}

/* ordergroove */
og-upsell-button > button,
og-upsell-modal button{
    background: transparent;
    border: 1px solid var(--gh-color-gray);
    padding: 14px;
    cursor: pointer;
}

/* searchspring */

@media (min-width: 990px){
  .search-modal__form {
    /*max-width: 1300px;*/
  }
}
.collection-search{
  padding-bottom: 5rem;
}

/* GH DIALOG */
.ghd--dialog{
    padding: 0;
    border-radius: 10px;
    border: 1px solid #eee;
}
.ghd--dialog--inner{
    padding: 2em;
    max-width: 800px;
    position: relative;
}
.ghd--dialog--inner > div:first-child{
    position: absolute;
    top: 9px;
    right: 10px;
}
.ghd--dialog::backdrop{
    background: rgba(0,0,0,.25);
}
.ghd--dialog .dialog-title{
    margin-top: 0;
}

.gh-prop-65--title{
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: var(--gh-font-primary);
  color: #000;
}
.gh-prop-65--icon{
  padding-right: 6px;
}

/* ORDERGROOVE */
@media (max-width: 649px{
  .og-regular-offer-content {
      font-size: 13px;
  }
}

/* YOTPO */
.evm-wscontainer .yotpo .yotpo-icon{
    width: 1em !important;
}

.evm-wscontainer .yotpo-display-wrapper .yotpo-bottomline a{
    line-height: 1em;
    padding-top: 2px;
    padding-left: 4px;
}

.evm-wscontainer .yotpo .standalone-bottomline .star-clickable{
    align-items: center;
}