/* 
** Mega menu styles
*/

.header__inline-menu .huk_menu_item--root>.huk_menu_submenu {
    max-width: 100%;
    padding: 0px 150px !important;
    left: 50% !important;
    transform: translateX(-50%);
    top: 100% !important;
    box-shadow: none !important;
    border-top: 1px solid rgb(255 255 255 / 10%);
}

.huk_menu_item_display_header.huk_menu_item_level_1.huk_menu_item_has_child .huk_menu_item_link span.huk_menu_item_text {
    font-family: var(--gh-font-secondary) !important;
    font-weight: 500 !important;
}

li.huk_menu_item.huk_menu_col.huk_menu_item_level_2 a.huk_menu_item_link span.huk_menu_item_text {
    font-weight: 400 !important;
    font-family: var(--gh-font-secondary) !important;
}

.huk_menu_submenu_type_mega .huk_menu_submenu {
    height: 100%;
}

.huk_menu_image img {
    max-width: 100% !important;
}

.huk_menu_submenu li.huk_menu_item.huk_menu_col.huk_menu_item_level_2 a.huk_menu_item_link.use-icon {
    position: absolute;
    bottom: 0px;
    padding: 0px !important;
}

.huk_menu_submenu li.huk_menu_item.huk_menu_col.huk_menu_item_level_2.huk_menu_item_submenu_type_automatic.huk_menu_item_layout.huk_menu_col-automatic.huk_menu_item_layout_text:last-child {
    position: unset;
}

li.huk_menu_item.huk_menu_col.huk_menu_item_level_1 {
    position: relative;
    padding-bottom: 50px !important;
}

ul.huk_menu_submenu.huk_menu_submenu_type_flyout.huk_menu_submenu_flyout_position_left.huk_menu_submenu--desktop {
    padding: 0px !important;
    top: 70px !important;
}

ul.huk_menu_submenu.huk_menu_submenu_type_flyout.huk_menu_submenu_flyout_position_left.huk_menu_submenu--desktop li.huk_menu_item.huk_menu_col.huk_menu_item_level_1 {
    padding-bottom: 0px !important;
}

.huk_menu_item_submenu_type_flyout .huk_menu_submenu {
    max-width: 250px !important;
    width: 250px;
}