.evm-also-bought.evm_visible_text  #alsopresets3 .evm-ws-image-section .ws-box-wrapper{ width:18%; display: flex;
    flex-direction: column; }
#alsopresets3 .card-wraper { display: grid;
    grid-template-rows: max-content minmax(0,1fr) auto;
    flex-grow: 1;}
.checkbox-wrapper.fbt_template3_desktop_chk {
    grid-row-start: 4;
}
.evm-also-bought.evm_visible_text #alsopresets3 .evm-ws-image-section .card-details-wraper  { padding-bottom: 5px; grid-row-start: 2;}

// above code for tag line 


.evm-also-bought.evm_visible_text .evm_wiser_heading {
    font-family: 'Miller Display';
  font-weight: bold;
text-align: center!important;
}  

.evm-wscontainer p.fbt_disc_msg{ text-align:center!important;     display: inline-block;    line-height: 1.2;
    font-size: 15px;}
.evm-also-bought #alsopresets3 .ws-card__title {text-align:left!important; font-size:18px;}
.evm-also-bought #alsopresets3 .ws-card_image_container  { text-align:left!important;}
.evm-also-bought #alsopresets3 .ws-card_image_container .ws-card__background-image  { background:transparent}
.evm-also-bought .product_tagline { margin:0 ;
                                 line-height: 1.3;    font-size: 14px;
                                  font-family: 'Proxima Nova';
                                  }
#alsopresets3 a , #alsopresets3 .checkbox-wrapper .evm-ab-wiser-text , span#evm-ws-alsobought-total-text , span#evm-ws-alsobought-amount , #alsopresets3 .evm-ws__cart-submit , .evm-wscontainer p.fbt_disc_msg { font-family: 'Proxima Nova';}
.also3_butoon_wrapper {
    background: #3C5949!important;
}
.evm-also-bought.evm_visible_text #alsopresets3 .evm-ws-image-section .ws-product-price-variants { 
    justify-content: space-between; padding-top: 0px;
        max-height: 30px; }

.evm-also-bought.evm_visible_text #alsopresets3 .ws-card__price { margin:0; font-weight:bold;font-family: 'Proxima Nova';  }




.evm-also-bought.evm_visible_text #alsopresets3 .checkbox-wrapper span.checkmark  {    border-radius: 50%; border: 1px solid #3C5949; }
#alsopresets3 .checkbox-wrapper input:checked~span.checkmark:after {    width: 5px;top: 4px;
    left: 6px;
    height: 9px; border-color: #3C5949;}
#alsopresets3 .checkbox-wrapper .evm-ab-wiser-text { padding-left:30px;} 
.alsobought_template3 .add-to-cart-btn { align-self: center; margin-bottom: 45px; width: 18%; margin-left: 10px;}

.alsobought_template3 .add-to-cart-btn p.evm-ws-alsobought-total {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      border-bottom: 1px solid #545454;
} 
span#evm-ws-alsobought-total-text {
    flex: 0 0 100%;
      border-bottom: 1px solid #545454;
}
span#evm-ws-alsobought-total-text b {
    display: none;
}
span#evm-ws-alsobought-total-text:before {
    content: "Bundle Price";
    font-weight: bold;
}
.evm-ws-alsobought-total span.fbt_ttl {
    font-weight: bold!important;
  letter-spacing: 0rem; font-family: 'Proxima Nova';
} 
span#evm-ws-alsobought-amount {
    letter-spacing: 0rem;
}
#alsopresets3 .yotpo .standalone-bottomline.star-clickable,#alsopresets3  .yotpo .standalone-bottomline .star-clickable { flex-wrap: wrap;}

#alsopresets3 .review-wrapper {text-align: left; line-height: 1;}
#alsopresets3 .rating-star {
    --letter-spacing: 0.4; }
#alsopresets3 .yotpo a:hover {
    color: #3C5949 !important;
}
#alsopresets3 .evm-ws-card .yotpo-bottomline  { height:"auto"}
#presets2 .ws-box-wrapper .evm-ws-card, #presets2 .ws-box-wrapper .evm-ws-card .ws-card_image_container .ws-card__background-image, #presets2 .ws-box-wrapper .evm-ws-card:before{background-color: transparent;}
#presets2 .ws-box-wrapper .evm-ws-card:before{box-shadow: unset;}
@media only screen and (max-width: 850px){

  #alsopresets3 .checkbox-wrapper .evm-ab-wiser-text {
    padding-left: 24px;
}
  #alsopresets3 .checkbox-wrapper .evm-ab-wiser-text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
 #alsopresets3 .yotpo-display-wrapper  { line-height:unset;}
  #alsopresets3 .evm-ws-card .yotpo-bottomline { height: auto;} 
#alsopresets3 .evm-ws-body-section .product_tagline { min-width:unset; min-height:unset;} 
.evm-also-bought.evm_visible_text #alsopresets3 .evm-ws-body-section .ws-card__price{width: max-content;margin: 8px 0;}
#alsopresets3 .evm-ws-card .yotpo.bottomLine {width: auto; text-align: left;}
.alsobought_template3 .add-to-cart-btn{width: 100%; margin-left: 0;}
}


// Main Widgets
.evm_wiser_heading, .evm-ws-popup-innerSection .evm-ws-popup-title {
    font-family: 'Miller Display';
    font-weight: 600;
} 
#presets2 .ws-card__title, #ws-popup-layout1 .ws-card__title, #presets2 .ws-card__price, #ws-popup-layout1 .ws-card__price, #alsopresets2 .ws-card__title {     font-family: 'Proxima Nova';}


.evm_visible_text .evm-wscontainer { max-width:100%; padding:0; } 
.evm-also-bought.evm_visible_text .evm-wscontainer {
    max-width: 1300px;
    padding: 0 5rem;
}
.evm_visible_text #presets2 .ws-card__title {font-family: 'Proxima Nova';}
.evm_visible_text #presets2 .ws-card__header-link  p { font-family: 'Proxima Nova';  line-height:1.3; margin:0;} 
.evm_visible_text #presets2 .product .rating-star {
    --letter-spacing: 0.4;
}
#presets2 .yotpo.bottomLine .yotpo-bottomline a { font-family: 'Proxima Nova';}
#presets2 .evm-wiser-owl-theme .owl-dots .owl-dot span{background: #869791;}






